.header {
    background-color:#263238;
    width: 100%;
    color:#fff;
    padding: 10px;
    font-size: 18px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sub_header {
    background-color:#263238;   
    color:#fff;
    padding: 10px;
    font-size: 18px;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.iconModal {
    margin-top: 80px; 
    margin-right: 60px;
    float: right;
    cursor: grab;
    background-color: white;
    height: 80px ;
    width: 100px;
}